<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%c{1}/%level]: %msg%n" />
        </Console>

    <RollingRandomAccessFile name="File" fileName="logs/latest.log"
    filePattern="logs/%d{yyyy-MM-dd}-%i.log">
    <PatternLayout pattern="[%d{yyyy-MM-dd}T%d{HH:mm:ss}] [%c{1}/%level]: %msg%n" />
    <Policies>
    <TimeBasedTriggeringPolicy />
    <OnStartupTriggeringPolicy />
    <!-- <SizeBasedTriggeringPolicy size="250 MB"/> -->
    </Policies>
    <!-- keep up to 20 files before removing them -->
    <!-- <DefaultRolloverStrategy max="20"/> -->
    </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="Logger" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>